body {
    font-family: 'Roboto', arial;
    margin: 0px;
}
.container {
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #1F2937;
    padding: 70px;
}

.title {
    font-weight: bold;
    font-size: 24px;
    color: #F9FAF8; 
    margin-top: -40px;
}

a {
    text-decoration: none;
    color: #F9FAF8;
    font-weight: light;
    font-size: 15px; 
}

ul {
    display: flex;
    margin: 10px 10px 10px;
    gap: 30px;
    margin-top: -40px;
}

/* second section*/

.intro {
    display: flex;
    background-color: #1F2937;
    color: #F9FAF8;
    align-items: center;
    justify-content: space-between;
    padding: 70px;
    flex-shrink: 0;
    
}

.left {
    max-width: 300px;
}

.right {
    background-color: tan;
    padding: 100px;
    max-width: 300px;
}

.opener {
    font-weight: bold;
    font-size: 32px;
}

button {
    background-color: #3882F6;
    color: #F9FAF8;
    font-weight: bold;
    border-radius: 4px;
    border: none;
    width: 100px;
    height: 30px;
    margin-top: 5px;
    
}

