body {
    font-family: 'Roboto', arial;
    margin: 0px;
}
.container {
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #1F2937;
    padding: 50px;
}

.title {
    font-weight: bold;
    font-size: 24px;
    color: #F9FAF8; 
    margin-top: -40px;
}

a {
    text-decoration: none;
    color: #F9FAF8;
    font-weight: light;
    font-size: 15px; 
}

ul {
    display: flex;
    margin: 10px 10px 10px;
    gap: 30px;
    margin-top: -40px;
}



